:root {
    --root-font-color:#222222;
    --menu-font-color:#222222;
    --primary-color: #720218 ;
    --primary-color-hover: #3d000d;
    --primary-color-pink:#c61638;
    --primary-color-pink-hover: #8f1128;
    --primary-color-gray:#2e2e2e;
    --primary-color-gray-hover: #000000;
    --primary-color-beige:#fff8f1;
    --primary-color-beige-hover: #720218;
    --primary-gradient-color:linear-gradient(to right, #119ad8 0%, #2685ca 40%, #515aac 60%, #793290 100%);
    --primary-gradient-color-reverse:linear-gradient(to right, #793290 0%, #515aac 40%, #2685ca 60%, #119ad8 100%);
    --primary-gradient-color-45deg:linear-gradient(45deg, #119ad8 0%, #2685ca 40%, #515aac 60%, #793290 100%);
    --primary-gradient-color-reverse-45deg:linear-gradient(45deg, #793290 0%, #515aac 40%, #2685ca 60%, #119ad8 100%);
    --primary-gradient-color-light:linear-gradient(to right, rgba(139,25,131,0.28) 0%, rgba(11,159,220,0.28) 100%);
    --primary-gradient-color-white:linear-gradient(to right, rgba(255, 214, 244, 0.58) 0%, rgba(212, 241, 255, 0.58) 100%);
    --primary-gradient-color-white-reverse:linear-gradient(to right, rgba(212, 241, 255, 0.58) 0%, rgba(255, 214, 244, 0.58) 100%);
    --primary-gradient-color-type2:linear-gradient(45deg, #03b4ed 0%, #882386 100%);
    --light-sky-color:#9eddff;
    --dark-gray-color:#745f55;
    --orange-color:#D94D26;
    --green-color:#50b848;
    --green-color-hover: #095d02;
    --green2-color:#21b416;
    --green3-color:#335c18;
    --green4-color:#43b021;
    --teal-color:#005f4c;
    --teal2-color:#006b5c;
    --gray-color:#c7c7c7;
    --beige-color:#f9ece3;
    --yellow-color:#f0bb1d;
    --yellow2-color:#ffba00;
    --yellow3-color:#ffcc00;
    --yellow4-color:#e2a507;
    --light-yellow-color:#fff799;
    --kaki-color:#e3bb85;
    --purple-color:#69415b;
    --red-color:#c81e1e;
    --red2-color:#d81a1a;
    --light-red-color:#e22121;
    --light-red-hover-color: #b61616;
    --light-red2-color:#9d1d1d;
    --dark-red-color:#a91e1e;
    --dark-red2-color:#951e23;
    --dark-red3-color:#830a0a;
    --wine-color:#782d2d;
    --dark-red-hover-color: #6b0101;
    --dark-red2-hover-color: #670505;
    --dark-red3-hover-color: #440202;
    --dark-brown-color:#231c0e;
    --light-brown-color:#ab824a;
    --light-brown2-color:#b78046;
    --brown-color:#724e3f;
    --brown2-color:#382621;
    --brown3-color:#6f2e25;
    --brown4-color:#6d2d24;
    --brown5-color:#3a2117;
    --brown6-color:#492e0b;
    --skin-color:#f9ece3;
    --skin2-color:#f5d2ba;
    --dark-brown-hover-color: #0c0a04;
    --basic-font-famaily:"Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    --title-font-famaily:'FlightSans-Title', 'Paperlogy', 'Noto Sans KR','NanumSquare','Nanum Gothic',-apple-system, "Apple Color Emoji", sans-serif;
    --emphasis-font-famaily:'yeonaesidae','Paperlogy','Noto Sans KR','NanumSquare','Nanum Gothic',-apple-system, "Apple Color Emoji", sans-serif;
    --mb-vw:0.2625vw;
    --browser-width:100%;
    --vh:1px;
}