@import url('____root3860.css?v=1');

.wh-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,1);
    -webkit-text-fill-color: transparent;
}
.grn2-outline {
    -webkit-text-stroke: 1px var(--green-color);
    -webkit-text-fill-color: transparent;
}
.gold-outline {
    -webkit-text-stroke: 1px #b89450;
    -webkit-text-fill-color: transparent;
}
.gold2-outline {
    text-shadow: -1px -1px 0 #b89450, 1px -1px 0 #b89450, -1px 1px 0 #b89450, 1px 1px 0 #b89450;
    -webkit-text-fill-color: #fff;
}
.red-outline {
    /*-webkit-text-stroke: 1px #c00a0a;*/
    text-shadow: -1px -1px 0 #c00a0a, 1px -1px 0 #c00a0a, -1px 1px 0 #c00a0a, 1px 1px 0 #c00a0a;
    -webkit-text-fill-color: #fff;
}
.brw-outline {
    -webkit-text-stroke: 1px #724e3f;
    /*text-shadow: -1px -1px 0 #724e3f, 1px -1px 0 #724e3f, -1px 1px 0 #724e3f, 1px 1px 0 #724e3f;*/
    -webkit-text-fill-color: transparent;
}
.dark-red-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,1);
    text-shadow: -1px -1px 0 #888, 1px -1px 0 #888, -1px 1px 0 #888, 1px 1px 0 #888;
    -webkit-text-fill-color: var(--dark-red-color);
}
.light-brw-outline {
    -webkit-text-stroke: 1px var(--light-brown-color);
    -webkit-text-fill-color: transparent;
}
.blc-outline {
    /*-webkit-text-stroke: 1px #000;*/
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    -webkit-text-fill-color: #fff;
}
.navy-outline {
    /*-webkit-text-stroke: 1px #000;*/
    text-shadow: -1px -1px 0 #203169, 1px -1px 0 #203169, -1px 1px 0 #203169, 1px 1px 0 #203169;
    -webkit-text-fill-color: #fff;
}
.fc-primary {
    color:var(--primary-color);
}
.fc-primary-pink {
    color:var(--primary-color-pink);
}
.fc-primary-beige {
    color:var(--primary-color-beige);
}
.fc-blue {
    color:var(--primary-color);
}
.fc-grd-whgd {
    background-image: linear-gradient(135deg, #ebbf79, #ffefcf, #efc889, #e4a23e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fc-grn {
    color:var(--green-color);
}
.fc-grn2 {
    color:var(--green2-color);
}
.fc-grn3 {
    color:var(--green3-color);
}
.fc-grn4 {
    color:var(--green4-color);
}
.fc-teal {
    color:var(--teal-color);
}
.fc-teal2 {
    color:var(--teal2-color);
}
.fc-kaki {
    color:var(--kaki-color);
}
.fc-gr-kaki {
    background: linear-gradient(to top, #d17b00, #f7ead4, #eccd95); /* 위쪽 밝은 노랑 → 아래쪽 진한 오렌지 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fc-grayD {
    color:#171717;
}
.fc-grayR {
    color:#69615d;
}
.fc-gray {
    color:var(--gray-color);
}
.fc-yellow {
    color:var(--yellow-color);
}
.fc-yellow2 {
    color:var(--yellow2-color);
}
.fc-yellow3 {
    color:var(--yellow3-color);
}
.fc-yellow4 {
    color:var(--yellow4-color);
}
.fc-d-yellow {
    color:#f0bb1d;
}
.fc-yellowL {
    color:var(--light-yellow-color);
}
.fc-red {
    color:var(--red-color);
}
.fc-red2 {
    color:var(--red2-color);
}
.fc-skin {
    color:var(--skin-color);
}
.fc-skin2 {
    color:var(--skin2-color);
}
.fc-dark-red {
    color:var(--dark-red-color);
}
.fc-dark-red2 {
    color:var(--dark-red2-color);
}
.fc-dark-red3 {
    color:var(--dark-red3-color);
}
.fc-gold {
    color:#b89450;
}
.fc-wh {
    color:#ffffff;
}
.fc-pink {
    color:#f13233;
}
.fc-pink2 {
    color:#ee5db6;
}
.fc-beige {
    color:var(--beige-color);
}
.fc-orange {
    color:#e75d0a;
}
.fc-navy {
    color:#203169;
}
.fc-gb {
    color:#02b2c5;
}
.fc-light-sky {
    color:var(--light-sky-color);
}
.fc-brw {
    color:var(--brown-color);
}
.fc-lbrw {
    color:var(--light-brown-color);
}
.fc-lbrw2 {
    color:var(--light-brown2-color);
}
.fc-brw2 {
    color:var(--brown2-color);
}
.fc-brw3 {
    color:var(--brown3-color);
}
.fc-brw4 {
    color:var(--brown4-color);
}
.fc-dark-brw {
    color:var(--dark-brown-color);
}
.fc-blc {
    color:#000000;
}
.fc-lblc {
    color:#231c0e;
}
.fc-mustard {
    color:#ffc600;
}